body{
	margin: 0;
}

header {
	background-color: darkred;
	padding: 20px;
	color: white;


}
span{
	float: right;
	position: relative;
	top: 50px;
	right: 2px;
	
}
 nav{
 	position: sticky;
 	top: 0px;
 }
li{
	display: inline-block;
	padding: 20px;
	color: white;
}
ul{
	background-color: black;
	margin: 0;
}
li:last-child{
	float: right;
}
article{
	text-align: center;
	padding: 15px;
}


li:hover{
	background-color: red;

}